@use '../abstracts/' as a;

.filter {
  position: relative;

  &__group {
    height: 0;
    overflow: hidden;
  }

  &__label {
    font-weight: 400;
    font-size: 1.6rem;

    @include a.mq(md) {
      font-size: 1.8rem;
    }
  }

  &__toggler {
    border: 1px solid map-get(a.$clr, outlinePrimary);
    border-radius: 2rem;
    padding: 0.4rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35rem;
    background: transparent;

    h4 {
      width: 90%;
      text-align: start;
    }

    span {
      font-size: 2.8rem;
      font-weight: 500;
      display: inline-block;
      transform: rotate(90deg);
      /* Safari */
      -webkit-transform: rotate(90deg);
      /* Firefox */
      -moz-transform: rotate(90deg);
      /* IE */
      -ms-transform: rotate(90deg);
      /* Opera */
      -o-transform: rotate(90deg);
    }

    &--expand {
      span {
        display: inline-block;
        transform: rotate(-90deg);
        /* Safari */
        -webkit-transform: rotate(-90deg);
        /* Firefox */
        -moz-transform: rotate(-90deg);
        /* IE */
        -ms-transform: rotate(-90deg);
        /* Opera */
        -o-transform: rotate(-90deg);
      }
      + .filter__group {
        height: max-content;
        padding: 2rem 3.4rem 2rem 0;
      }
    }
  }

  &__group {
    width: 35rem;
    border-radius: 3rem;
    list-style: none;
    position: absolute;
    margin-top: 0.5rem;
    background: #fff;
    box-shadow: 4px 4px 7px #bababa;
  }

  &__value {
    margin-bottom: 1rem;
    cursor: pointer;

    a {
      text-decoration: none;
      color: map-get(a.$clr, dark);
      width: 100%;
      height: 100%;
      padding: 1rem 1rem 1rem 2rem;
      display: inline-block;
    }

    h4 {
      font-weight: 400;
    }

    &:hover {
      background: rgba(228, 127, 89, 0.3);
      border-radius: 0px 2rem 2rem 0px;
    }
  }

  &__add {
    padding: 0 2rem;
    font-size: 1.6rem;
    cursor: pointer;

    @include a.mq(md) {
      font-size: 1.8rem;
    }

    @include a.mq(lg) {
      font-size: 2rem;
    }
  }
}
