@use '../abstracts/' as a;
@use '../base/animations' as *;

.loader {
  &__bg {
    position: fixed;
    z-index: 1000;
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &.disappear {
      animation: vanish 1s forwards;
    }
  }
}
