@use '../abstracts/' as a;

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding: 2.8rem 1.5rem 2.8rem;
  overflow: hidden;

  @include a.mq(xl) {
    padding: 2.8rem 2rem 2.8rem;
  }

  @include a.mq(xxl) {
    padding: 2.8rem 3rem 2.8rem 4.5rem;
  }
}
