@use '../abstracts' as a;

.sidebar {
  position: absolute;
  display: block;
  background: map-get(a.$clr, primary);
  color: map-get(a.$clr, light);
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  padding: 3rem 5rem 10rem 2.2rem;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  transform: translateX(-86%);
  height: fit-content;
  opacity: 0.1;
  z-index: 100;
  max-width: 28rem;

  &-container {
    position: relative;
    @include a.mq(xl) {
      width: 37rem;
    }
  }

  &--expanded {
    transform: translateX(0);
    opacity: 1;
  }

  @include a.mq(xl) {
    transform: translateX(0);
    position: relative;
    width: 100%;
    opacity: 1;
  }

  &__brand {
    text-align: center;
    img {
      width: 18rem;
      height: auto;
    }
  }

  &__menus {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 5rem;
    padding-left: 0;
  }

  &__item {
    width: 21rem;
    font-weight: 500;

    &:hover {
      .sidebar__link:not(.sidebar__link--disabled) {
        background: rgba(#fff, 0.4);
      }
    }

    &:active {
      .sidebar__link:not(.sidebar__link--disabled) {
        background: rgba(#fff, 0.2);
      }
    }

    .sidebar__link {
      width: 100%;
      display: block;
      border-radius: 2rem;
      display: flex;
      column-gap: 1.2rem;
      align-items: center;
      padding: 1.4rem 1.5rem 2rem;
      text-decoration: none;
      color: #fff;
      transition: all 0.2s ease;

      img {
        width: 4rem;
        height: 3.5rem;
      }

      p {
        @include a.typeSpace(label);
        margin-bottom: -0.1rem;
      }

      &--active {
        pointer-events: none;
        background: rgba(#fff, 0.4);
      }

      &--disabled {
        color: rgba(#fff, 0.5);
        background: transparent;
        pointer-events: none;

        img {
          opacity: 0.5;
        }
      }
    }
  }

  &__toggler {
    overflow: hidden;
    position: absolute;
    right: -2rem;
    top: 10%;
    background: map-get(a.$clr, secondary);
    border-radius: 100%;
    padding: 0.8rem;
    @include a.mq(xl) {
      display: none;
    }
  }

  hr {
    border-top: 0.5px solid white;
  }
}
